<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My All in One App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <script src="./components/home.js"></script>
    <script src="./components/calculator.js"></script>
    <script src="./components/todo.js"></script>
    <script src="./components/crypto.js"></script>
</head>

<body>
<div id="app" class="container-fluid">
    <header class="mb-5">
        <h1 class="display-4 text-center">My All in One App</h1>

        <nav class="navbar navbar-expand-lg justify-content-center">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="btn mx-2" :class="page=='home' ? 'btn-primary' : 'btn-secondary'" href="#" @click.prevent="page = 'home'">Home</a>
            </li>
            <li class="nav-item">
                <a class="btn mx-2" :class="page=='calculator' ? 'btn-primary' : 'btn-secondary'" href="#" @click.prevent="page = 'calculator'">Calculator</a>
            </li>
            <li class="nav-item">
                <a class="btn mx-2" :class="page=='todo' ? 'btn-primary' : 'btn-secondary'" href="#" @click.prevent="page = 'todo'">Todo</a>
            </li>
            <li class="nav-item">
                <a class="btn mx-2" :class="page=='crypto' ? 'btn-primary' : 'btn-secondary'" href="#" @click.prevent="page = 'crypto'">Crypto</a>
            </li>
            </ul>
        </nav>
    </header>

    <home v-if='page == "home"'></home>

    <calculator v-if='page == "calculator"'></calculator>

    <todo v-if="page == 'todo'"></todo>

    <crypto v-if="page == 'crypto'"></crypto>

</div>

<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
const cryptoUrl = "https://api.coinlore.net/api/tickers/";
Vue.createApp({
    data() {
        return {
            page : 'home',
        }
    },
    components: {
        "home" : home,
        "calculator" : calculator,
        "todo" : todo,
        "crypto" : crypto
    }
}).mount('#app')
</script>
</body>

</html>
